<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Industry News</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>

    <nav>
        <a id="logo" href="../home.ejs">IdeaLink.</a>
        <a href="../news/5b097b298a61b17921e8448f">Industry News</a>
        <a href="../jobs/5b0a89374d3b2e8194a4de7f">Job Opportunities</a>
        <a href="../resumeSkills.ejs">Resume Skills</a>
        <a href="../interviewSkills.ejs">Interview Skills</a>
        <a id="login" href="../dashboard.ejs">Dashboard</a>
    </nav>

    <h5>Industry News</h5>
    <div id="content">
        <h4><%=news.title%></h4>
        <h8><%=news.date%></h8>
        <h8><%=news.author%></h8>
        <p><%=news.content%></p>
        <a href="/news/<%=news.next%>">Next</a>
        <br><br>
    </div>




</body>
</html>